/* Barra de navegação superior */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.well {
    background-color: rgb(250,251,255);
}

.titulo-header {
    width: auto;
    padding-bottom: 0;
    padding-top: 10px;
    margin-bottom: 10px;
}

a.brand img {
    height: 30px;
}

.nav-edados li a {
    line-height: 30px;
}

#nav-edados .nav-edados .dropdown-toggle .caret {
    margin-top: 13px;
}

/* Barra de fotos */
#fotos {
}

#fotos li.span2, #fotos li.span2 p {
    margin-bottom: 2px;
}

#fotos .thumbnails li {
    margin-left: 0px;
    margin-bottom: 7px;
}

#fotos span {
    margin-top: 1px;
}

#comparativo {
    margin-left: 0;
}

.titulo-header {
    margin-left: 0;
    margin-right: 0;
}

.titulo-header h3 {
    line-height: 26px;
}

#comparativo div.row div {
    height: 60px;
}

#comparativo .row .span1 .span1 {
    height: 100px;
}

#comparativo div.row div.graf-container {
    height: 320px;
}

#tabelas-de-dados span {
    white-space: nowrap;
    margin-left: -30px;
}

#versus {
    font-size: 3em;
    line-height: 46px;
}

#fotos .nomepol {
    display: none;
}

#fotos img, #confrontantes img {
    width: 68px;
    height: 68px;
}

#confrontantes [id*="cand"] {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
}

#graficos [id*="graf-cand"] {
    
}

.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}

.droppable {
    list-style: none;
}

.draggable {
    cursor: move;
}

.placeholder:before {
    line-height: 60px;
    color: rgba(30,30,30,0.3);
    font-size: 0.9em;
    content: "Arraste uma das fotos para esta área";
}

#leia_tambem {
    font-size: 0.9em;
    color: #404040;
}

#leia_tambem h1 {
    font-weight: bold;
}

span.oculto {
    display: none;
}

#social_sharing {
    margin-left: 0;
    margin-top: 14px;
}

footer {
	font-size: 0.8em;
	color: #666;
	height: 10px;
	padding: 10px 0;
    margin-top: 15px;
	border-top: 1px #666 dotted;
	width: 100%;
	float: none;
}
footer p {
    padding-left: 5px;
    padding-right: 5px;
