/* Barra de navegação superior */
a.brand img {
    height: 30px;
}

.nav-edados li a {
    line-height: 30px;
}

#nav-edados .nav-edados .dropdown-toggle .caret {
    margin-top: 13px;
}

/* Barra de fotos */
#fotos li.span2, #fotos li.span2 p {
    margin-bottom: 2px;
}
#linha-filtro {
    margin: 5px 0;
}
/* Barra de Filtros */
#barraFiltros {
    transform: rotate(90deg) translate(-32px, 0px);
    transform-origin: bottom left;
    -moz-transform: rotate(90deg) translate(-32px, 0px);
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(90deg) translate(-32px, 0px);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(90deg) translate(-32px, 0px);
    -o-transform-origin:  bottom left;
    -ms-transform: rotate(90deg) translate(-32px, 0px);
    -ms-transform-origin: bottom left;
}/**/

.collapse {
    height: auto;
    /* width: auto; */
}

.collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.collapse.in.width {
    width: 600px !important;
    white-space: nowrap;
}

.collapse.in.height {
    height: auto;
}

#caixaFiltro {
    position: relative;
    top:-32px;
    margin-left: 26px;
    height: 423px;
}

#caixaFiltro div {
    height: 423px;
    white-space: nowrap;
    top: 0px;
    position: absolute;
    /* background: white; */
    background: -moz-linear-gradient(left, rgba(170,170,170,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(170,170,170,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6aaaaaa', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
